<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="start" name="add"></ion-icon>
    </ion-buttons>
    <ion-title>Add New Group</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closePage()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="group.name" placeholder="Group Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-input [(ngModel)]="group.desc" placeholder="Group Description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="stacked">Jumlah bayar</ion-label>
    <ion-input [(ngModel)]="group.amount" type="number" placeholder="Jumlah Bayar"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Periode</ion-label>
    <ion-select value="10" [(ngModel)]="group.period">
      <ion-select-option value="10">10 hari</ion-select-option>
      <ion-select-option value="20">20 hari</ion-select-option>
      <ion-select-option value="30">30 hari</ion-select-option>
     
    </ion-select>
  </ion-item>
  
  <ion-button expand="block" (click)="submit()">SUBMIT</ion-button>
  
  
</ion-content>
