<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/group-detail/{{groupId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Unpaid User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-badge color="medium">Today</ion-badge> 
      <ion-label><ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime></ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let user of users" id="item100">
      <ion-item href="#">
        <ion-avatar slot="start">
        <img src="../../assets/img/user.png">
      </ion-avatar>
        <ion-label>
          <h2><b>{{user.fullname}}</b></h2>
          <h3>{{user.no_telp}}</h3>
          <p>{{user.group}}</p>
        </ion-label>
        
      </ion-item>
  
      <ion-item-options side="start">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon (click)="UpdateToPaidUser(user.group_id, user.username)" slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
