<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="wallet"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/icon/logo.png" class="center">
    <!--<ion-title><b>Arisan</b> | Group</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let group of groups" id="item100">
      <ion-item (click)="goDetail(group)">
        <ion-avatar slot="start">
        <img src="../../assets/icon/group.png">
      </ion-avatar>
        <ion-label>
          <h2><b>{{group.name}}</b></h2>
          <h2><ion-icon name="wallet-outline"></ion-icon> Rp.{{group.amount | number}}</h2>
          <p></p>
        </ion-label>
        
      </ion-item>
  
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="delete(group)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
