ion-icon {
    margin-right: 10px;
}

ion-button {
    margin-top: 20%;
}

ion-item {
    margin-top: 5%;
}

ion-header, ion-toolbar {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 45%;
  }